<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assqr.gido.repository.mybatis.SentenceMapper">

    <!-- Sentence クラスとテーブルをマッピングする -->
    <resultMap id="Sentence" type="com.assqr.gido.domain.Sentence">
        <id property="id" column="id" />
        <result property="author" column="author" />
        <result property="text" column="text" />
    </resultMap>

    <!-- キーワード検索 (著者指定) -->
    <select id="find" resultMap="Sentence">
        SELECT * FROM M_SENTENCE
        WHERE
            TEXT LIKE CONCAT('%', COALESCE(#{text}, ''), '%')
        <if test="author != null">
            AND AUTHOR LIKE CONCAT('%', COALESCE(#{author}, ''), '%')
        </if>
    </select>

    <select id="get" resultMap="Sentence">
        SELECT * FROM M_SENTENCE
        WHERE ID = #{sentenceId}
    </select>

    <select id="lock" resultMap="Sentence">
        SELECT * FROM M_SENTENCE
        WHERE ID = #{sentenceId}
        FOR UPDATE
    </select>

    <insert id="add"
            parameterType="com.assqr.gido.domain.Sentence"
            keyProperty="id">
        <selectKey keyProperty="id" resultType="string">
            SELECT MAX(ID)+1 FROM M_SENTENCE
        </selectKey>

        INSERT INTO M_SENTENCE (ID, AUTHOR, TEXT)
        VALUES (#{id}, #{author}, #{text})
    </insert>

    <update id="set"
            parameterType="com.assqr.gido.domain.Sentence">
        UPDATE M_SENTENCE
        <set>
            <if test="author != null">
                AUTHOR = #{author},
            </if>
            <if test="text != null">
                TEXT = #{text},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="remove"
            parameterType="com.assqr.gido.domain.Sentence">
        DELETE FROM M_SENTENCE
        WHERE id = #{id}
    </delete>

</mapper>